*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
button{
    cursor: pointer;
}

/* Nav bar header*/
.disco a{
   align-items: center;
   font-size: 2.2rem;
   font-weight: 700;
   color: #0B0223;
    text-decoration: none;
    align-items: center;

}
.clr{
 color: #FF42A5;
}
nav{
    padding: 15px 150px;
    display: flex;
    justify-content: space-between;
}
.header-sec ul{
    display: flex;
    align-items: center;
}
.header-sec li{
    list-style: none;
}
.header-sec a{
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 32px;
    color: #3C354F;
}
.btn-h{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    text-align: center;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 21px;
}
.btn-h img{
    width: 26px;
    padding-left: 12px;
}

/* Banner*/

.bannar-sec{
    padding: 15px 150px;
    display: flex;
    justify-content: space-between;
}
.banner-text{
    width: 50%;
}
.banner-tx{
    width: 50%;
}
.banner-tx img{
    width: 100%;
}
.banner-text h3{
    color: #0B0223;
font-family: Work Sans;
font-size: 2.5rem;
font-weight: 600;
text-transform: uppercase;
margin-bottom: 5px;
margin-top: 120px;
}
.banner-text h2{
    font-size: 4.5rem;
    font-weight: 800;
    text-transform: uppercase;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-text p{
    color: #534C64;
font-size: 1rem;
font-weight: 500;
text-transform: lowercase;
}
.ban-btn1{
    color: #FFF;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border: 0;
padding: 15px 30px;
margin-top: 20px;
}

.ban-btn2{

    color: #FFF;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;

    border-radius: 48px;
background: #4EC5F7;
border: 0;
padding: 15px 30px;
margin-top: 20px;
}
.sec-three{
    padding: 45px 150px;

}

/*Main section*/
.sec-threeh33{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.a{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.para{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
margin-top: 40px;
margin-bottom: 40px;

}
.sth{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.di{
 width: 25%;
}
.di img{
    width: 100%;
}
.di p{
    color: #534C64;
font-family: Work Sans;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
}

/*forth sec*/

.forth{
    padding: 40px 150px;
    display: flex;
    justify-content: space-between;

}
.forth-di{
    width: 50%;
    margin-right: 200px;
    margin-top: 110px;
}
.forth-h, .forth-di p{
    text-align: right;

}
.forth-im{
    width: 50%;

}
.forth-h{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
color: #0B0223;
}
.forth-di p{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
margin-top: 30px;
}

.im1{
    width: 100%;
}
.im2{
    width: 200px;
    bottom: 160px;
    left: -90px;
    position: relative;
}

/*sixth*/

.abc{
  padding: 50px 150px;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}

.bcd{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;

}
.bcd button{
    color: #0B0223;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;

border-radius: 50px;
background: #FFF;

text-align: center;
display: flex;
align-items: center;
justify-content: center;
border: 0;
font-size: 0.8rem;
padding-right: 0.3rem;
border: 0.15rem solid #FFF;

}

.bcd button:hover{
    border: 0.15rem solid #FF42A5;
}

/* Footer */
footer{
    padding: 90px 150px;
    background: #0B0223;
    align-items: center;
}
footer .disco{
    text-align: center;
}
footer .disco a{
    color: #FFF;
    text-decoration: none;
    
}
.fu-one ul{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
 
}
.fu-one a,.fu-three a{
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 0.8rem;
font-style: normal;
font-weight: 600;
line-height: normal;

text-decoration: none;


}

.fu-one li{
list-style: none;
padding-right: 50px;
}

.fu-two{
    display: flex;
    justify-content: center;
    margin-bottom: 55px;

}

.fu-two img{
    padding-right: 35px;
}
.fu-three ul{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.fu-three li {
    list-style: none;
    padding-right: 50px;
}

.fu-three li{
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 0.8rem;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;
}
footer p{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
